.box-container {
  display: flex;
  flex-direction: column;  
}

.top, 
.center,
.bottom {
  width: 100%;
  padding: 10px;
}

.top p {
  font-size: 14px;  
}

img {
  margin: auto;
}

/* Slider */ 

.slider {
  width: 50px; 
  height: 25px;
}