.box-container {
  width: 18%;
  height: 320px;
}

.box-container .top {
  width: 100%;
  height: 60%;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(24, 20, 0, 0.45);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.box-container .top p {
  font-size: 16px;
  font-weight: bold;
}

.box-container .top img {
  width: 150px;
}

.box-container .center {
  width: 100%;
  height: 9%;
  border-radius: 15px;
  padding: 10px;
  margin: 15px 0;
  cursor: pointer;
  background-color: rgba(24, 20, 0, 0.45);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.box-container .center .toggle-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-container .center .toggle-light span {
  font-size: 16px;
  color: #fff;
}

.box-container .bottom {
  width: 100%;
  height: 9%;
  border-radius: 15px;
  padding: 10px;
  margin: 15px 0;
  cursor: pointer;
  background-color: rgba(24, 20, 0, 0.45);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.box-container .bottom .toggle-ceiling {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-container .bottom .toggle-ceiling span {
  font-size: 16px;
  color: #fff;
}
