.template {
  width: 25%;
  height: 320px;
}

.template .top {
  width: 100%;
  height: 60%;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(24, 20, 0, 0.45);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.template .top p {
  font-size: 16px;
  font-weight: bold;
}

.template .bottom {
  width: 100%;
  height: 30%;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  background-color: rgba(24, 20, 0, 0.45);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.template .bottom .bottom-content {
  display: flex;
  align-items: center;
}
.template .bottom .bottom-content img {
  width: 90px;
}

.template .bottom .bottom-content .right-content{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: start;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 16px;
}

.template .bottom .bottom-content .level{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.template .bottom .bottom-content .time{
    padding: 3px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

.template .bottom .toggle-ceiling span {
  font-size: 16px;
  color: #fff;
}
