.header {
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 25px;
  background-color: rgba(173, 164, 150, 0.35);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.icon-container {
  display: flex;
  justify-content: center;
  width: 90px;
  padding: 5px 20px;
  align-items: center;
  cursor: pointer;
  color: #333;
  color: #fff;
}

.icon-container:hover {
  border-radius: 20px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
}

.icon {
  width: 25px;
  margin: 0 7px;
}

.icon-content {
  font-size: 20px;
}

.right-menu {
  width: 35px;
  height: 42px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  background-color: #ada496a1;
}

.icon-menu {
  margin-top: 6px;
  font-size: 30px;
}

.icon-menu :hover {
  padding: 6px;
  font-size: 30px;
  border-radius: 30px;
  background-color: #fff;
}

/* 4K */
@media only screen and (max-width: 2560px) {
}

/* Tablet */
@media only screen and (max-width: 769px) {
}

/* MobieL */
@media only screen and (max-width: 425px) {

  .menu {
    display: flex;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: rgba(173, 164, 150, 0.35);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .icon-container {
    display: flex;
    justify-content: center;
    width: 30px;
    padding: 5px 20px;
    align-items: center;
    cursor: pointer;
    color: #333;
    color: #fff;
  }

  .icon-container:hover {
    border-radius: 20px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
  }

  .icon {
    width: 25px;
    margin: 0 7px;
  }

  .icon-content {
    font-size: 20px;
  }

  .right-menu {
    width: 35px;
    height: 42px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    background-color: #ada496a1;
  }

  .icon-menu {
    margin-top: 6px;
    font-size: 30px;
  }

  .icon-menu :hover {
    padding: 6px;
    font-size: 30px;
    border-radius: 30px;
    background-color: #fff;
  }
}
