.header{
    display: flex;
    width: max-content;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.menu{
    display: flex;
    gap: 8px;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    background-color: #ADA496A1;
}

.iconStyle{
    margin: 0 30px;
    padding: 3px 10px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: #333;
}

.iconStyle:hover{
    border-radius: 20px;
    background-color: #FFF;
}

.right-menu{
    display: flex;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    background-color: #ADA496A1;
}
.icon-menu{

}