
:root {
  --primary: #333;
  --bg: #ada496;
}

.App {
  text-align: center;
  background: url("./assets/images/background.jpg") center/cover no-repeat;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.box-container {
  display: flex;
  flex-direction: column;  
}

.top, 
.center,
.bottom {
  width: 100%;
  padding: 10px;
}

.top p {
  font-size: 14px;  
}

img {
  margin: auto;
}

/* Slider */ 

.slider {
  width: 50px; 
  height: 25px;
}

.App-link {
  color: #61dafb;
}
.font-size {
  font-size: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
